@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.allCenter {

    display: flex;

    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

body {
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: center;
}

nav a:hover {
    color: red;
}