@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.allCenter{
    
    display: flex;
    
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

h1 {
    color: white;
    font-family: 'Poppins', sans-serif;
}

p {
    color: white;
    font-family: 'Poppins', sans-serif;
}